html, body {
   height: 100%;
}

#brand {
  color: white;
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  padding-left: 75px;
}

#header {
  background-color: black;
  position: absolute;
  height: 37px;
  top: 10px;
  width: 100%;
  z-index: 10000000;
  padding-right: 25px;
  margin-left: -20px;
  margin-top: -10px;
  margin-bottom: -40px;
}

#map{
  //margin-top: 37px;
  margin-left: -10px;
  padding-right: 15px;
  width: 100%;
  height: 100%;
}

#spacer{
  height: 30px;
}